<div class="container">
  <div class="wrappers">
    <div class="figwrap"></div>
    <figure>
      <img src="../../assets/images/small1(1).jpg" alt="vr headset" />
    </figure>
    <p>Gear VR Headset</p>
  </div>
  <div class="wrappers small">
    <figure>
      <img src="../../assets/images/small4.jpg" alt="vr headset" />
    </figure>
    <p>Smart VR Headset</p>
  </div>
  <div class="wrappers">
    <figure>
      <img src="../../assets/images/small2.jpg" alt="vr headset" />
    </figure>
    <p>Play Station VR</p>
  </div>
</div>
